{% extends '::base.html.twig' %}

{% block javascripts %}
    {% javascripts '@IceMarktMainBundle/Resources/public/js/app.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script>
        new IceMarkt().init($,{
            'baseUrl': '{{ path('home_page') }}',
            'batchSize': 10
        });
    </script>
{% endblock %}

{% block title %}IceMarkt | Market!{% endblock %}

{% block body %}
    <h1>Send Emails</h1>

    {{ form_start(sendEmailsForm, {'attr': {'id': 'batchSend'}}) }}

    {{ form_errors(sendEmailsForm) }}

    <div class="form-group">
        {{ form_row(sendEmailsForm.email_template_id) }}
    </div>

    {{ form_end(sendEmailsForm) }}

    <br/>
    <br/>
    <div id="batchSendSuccessLog" class="alert alert-success" style="display: none">
        <h3>Sent</h3>
        <ul id="batchSendSuccessLogList">

        </ul>
    </div>
    <div id="batchSendErrorLog" class="alert alert-danger" style="display: none">
        <h3>Failed</h3>
        <ul id="batchSendErrorLogList">

        </ul>
    </div>
{% endblock %}