{% extends '::base.html.twig' %}

{% block title %}Add Email Profile{% endblock %}

{% block body %}
    <h1>Add Email Profile</h1>

    {% if emailProfileAdded %}
        <div class="alert alert-success">
            <p>Added Profile: {{ emailProfileAdded }}</p>
        </div>
    {% endif %}

    {% if errorMsg is defined %}
        <div class="alert alert-danger">
            <p>{{ errorMsg }}</p>
        </div>
    {% endif %}

    {{ form_start(addProfileForm) }}

    {{ form_errors(addProfileForm) }}

    <div class="form-group">
        {{ form_row(addProfileForm.fromName) }}
    </div>
    <div class="form-group">
        {{ form_row(addProfileForm.fromEmail) }}
    </div>
    <div class="form-group">
        {{ form_row(addProfileForm.replyToName) }}
    </div>
    <div class="form-group">
        {{ form_row(addProfileForm.replyToEmail) }}
    </div>
    {{ form_end(addProfileForm) }}
{% endblock %}