{% extends '::base.html.twig' %}

{% block title %}Edit Email Profile{% endblock %}

{% block body %}
    <h1>Add Email Profile</h1>

    {% if emailProfileEdited %}
        <div class="alert alert-success">
            <p>Edited Profile: {{ emailProfileEdited }}</p>
        </div>
    {% endif %}

    {% if errorMsg is defined %}
        <div class="alert alert-danger">
            <p>{{ errorMsg }}</p>
        </div>
    {% endif %}

    {{ form_start(editProfileForm) }}

    {{ form_errors(editProfileForm) }}

    <div class="form-group">
        {{ form_row(editProfileForm.name) }}
    </div>
    <div class="form-group">
        {{ form_row(editProfileForm.fromName) }}
    </div>
    <div class="form-group">
        {{ form_row(editProfileForm.fromEmail) }}
    </div>
    <div class="form-group">
        {{ form_row(editProfileForm.replyToName) }}
    </div>
    <div class="form-group">
        {{ form_row(editProfileForm.replyToEmail) }}
    </div>
    {{ form_end(editProfileForm) }}
{% endblock %}