{% extends '::base.html.twig' %}

{% block title %}Mail Recipients{% endblock %}

{% block body %}
    <h1>Bulk Add Recipients</h1>

    {% if formErrors|length > 0 %}
        <div class="alert alert-danger" role="alert">
            {{ formErrors }}
        </div>
    {% else %}
        <div class="alert alert-info" role="alert">
            Currently only supported CSVs (as it was quick and easy to implement!)<br/>
            Implementing support for Excel Files is in the TODO list!
        </div>
    {% endif %}

    {{ form_start(BulkAddRecipientForm) }}

    {{ form_errors(BulkAddRecipientForm) }}

    <div class="form-group">
        {{ form_row(BulkAddRecipientForm.file) }}
    </div>
    <div class="form-group">
        {{ form_row(BulkAddRecipientForm.Upload) }}
    </div>

    {{ form_end(BulkAddRecipientForm) }}
{% endblock %}